@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-background {
  background-color: #1a202c; /* Dark background for a sleek look */
}

.App {
  text-align: center;
}

.maincontent-backgroundcolor {
  background-color: rgb(78, 179, 78);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.button-style {
  min-width: 100px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom Styles for Sidebar */
.sidebar-background {
  background-color: rgb(78, 184, 78); /* Deep grayish color */
}

.sidebar-background:hover {
  background-color: rgb(66, 163, 66); /* Darker shade on hover */
}

.sidebar-background .group:hover .text-white {
  color: #e2e8f0; /* Lighter text color on hover */
}

ul li:hover {
  background-color: #4a5568; /* Slight hover effect for items */
}

.border-t {
  border-top-width: 1px;
  border-top-color: #e2e8f0; /* Lighter line for separation */
}

button:hover {
  background-color: #f56565; /* Red color for hover effect */
}
